In [20]:
from elasticsearch import Elasticsearch
from pandasticsearch import Select
import pandas as pd

In [29]:
elastic_client =  Elasticsearch('http://elasticsearch:9200')

In [30]:
data = elastic_client.search(index="race_results",scroll='2m', size=1000, 
                            body={
                                "query":{
                                            "exists": { "field": "best_ten_run_in_hours"}
                                        }
                                 
                                 }
                            )

In [31]:
sid = data['_scroll_id']

In [32]:
scroll_size = len(data['hits']['hits'])

In [33]:
frames = []

In [34]:
while scroll_size > 0:
    print('scroolling')
    pandas_df = Select.from_dict(data).to_pandas()
    frames.append(pandas_df)
    data = elastic_client.scroll(scroll_id=sid, scroll='2m')
    sid = data['_scroll_id']
    scroll_size = len(data['hits']['hits'])
    print(scroll_size)

scroolling
612
scroolling
0

In [35]:
result = pd.concat(frames)

In [36]:
result

,_index,_type,_id,_score,runner_age,best_ten_run_in_hours,runner_sex,itra_point,food_point,time_limit,month_of_the_race,distance,elevation_gain,elevation_lost,time_result_in_hours,position
0,race_results,_doc,fa3fc2e3-468d-4a9a-900e-c0bac8083408,1.0,29,0.52,M,2,3,9.0,April,43.50,1925,1925,3.44,2
1,race_results,_doc,9f970db0-b60a-4c89-a942-12ed9e77196f,1.0,26,0.55,M,2,3,9.0,April,43.50,1925,1925,3.56,3
2,race_results,_doc,3ffa9463-a557-46fc-8ed8-13115549b941,1.0,32,0.55,M,2,3,9.0,April,43.50,1925,1925,3.77,8
3,race_results,_doc,df956410-6b3a-4e27-b852-30aa49532975,1.0,33,0.58,M,2,3,9.0,April,43.50,1925,1925,3.80,9
4,race_results,_doc,81d00d97-950a-4f48-aacd-0d49dd5e5f34,1.0,37,0.59,M,2,3,9.0,April,43.50,1925,1925,3.82,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
607,race_results,_doc,483988d7-b153-424b-b26c-d4666bd82992,1.0,59,0.95,W,1,1,7.0,June,28.01,1060,1180,5.40,700
608,race_results,_doc,0fe80dbf-d3f8-43c4-b5b6-1cce2b673589,1.0,51,0.82,M,1,1,7.0,June,28.01,1060,1180,5.46,714
609,race_results,_doc,819a76e7-1671-4d79-be3b-a1577a963f46,1.0,58,1.21,W,1,1,7.0,June,28.01,1060,1180,6.01,761
610,race_results,_doc,10bacde7-0a0a-43ac-82c5-4f0677041b94,1.0,50,1.03,M,1,1,7.0,June,28.01,1060,1180,6.04,769
611,race_results,_doc,0435cf59-1c39-4d52-8797-731593883332,1.0,67,1.06,W,1,1,7.0,June,28.01,1060,1180,6.23,780